c-card {
    padding: 5px;
}

.scrub-273e41 {
  margin-bottom: 10px;
}

.scrub-5f70ba {
  align-items: start;
  display: flex;
  justify-content: space-between;
}

.scrub-9341e0 {
  display: grid;
  flex-direction: row;
  gap: 10px;
  grid-template-columns: 87.5% 10%;
}

.scrub-063b3b {
  display: grid;
  flex-direction: row;
  gap: 10px;
  grid-template-columns: 45% 40% 10%;
}
