$white: #fff;
// $black:     #000015;

$innoDarkerBlue: #00607a;
$innoDarkBlue: #1c7171;
$innoBlue: #00afc5;
$innoMedBlue: #057af0;
$innoLightBlue: #d5e5fc;

$innoDarkGreen: #3980dc;
$innoGreen: #1c7171;
$innoPukeGreen: #3aefef;
$innoLightGreen: #057af0;
$innoLighterGreen: #d5e5fc;

$innoPurple: #965ff4;
$innoDarkPurple: #6536b7;

$primary: #00607a;
$primary-25: #c3cbd8;

$secondary: #00b2c6;

/*$border-radius: 0;
$border-radius-sm: 0;*/
$border-radius-lg: .3rem;
$toast-background-color: rgba($white, 1.0);
$modal-content-border-radius: $border-radius-lg;